.mobile-item {
  margin-bottom: 35px;

  .product-wrapper {
    text-align: center;
    position: relative;
  }

  .caption {
    margin-bottom: 10px;
  }

  .product-img {
    margin-bottom: 10px;
    width: 100%;
  }

  .mobile-price {
    color: #388e3c;
  }

  .strike {
    text-decoration: line-through;
    color: red;
    clear: both;
    display: block;
  }
}
