.product-wrapper{
    text-align: center;
    position: relative;
}
.caption{
    margin-bottom: 40px;
}
.mobile-name{
    margin-top: 20px;
}
.product-img{
    max-width: 60%;
    max-height: 100%;
}

.mobile-price{
    color: #388e3c;
}